@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600&display=swap');

html {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    background-color: white;
}

body {
    width: 90vw;
    margin: 5vw auto;
    padding: 5vw;
    background-color: #F6F9FE;
    border-radius: 3vw;
}

header {
    padding: 8vw 0 10vw 0;
    width: 100%;
}

header>img {
    height: 10vw;
    position: absolute;
    top: 15vw;
    left: 10vw;
    z-index: 1;
}

label {
    height: 6vw;
    position: absolute;
    top: 17vw;
    right: 10vw;
}

label>img {
    height: 100%;
}

.slide li a {
    text-decoration: none;
}

nav {
    width : 100%;
    margin-top: 7vw;
    color: #545454;
    font-size: 4.1vw;
    z-index: 2;
}

.slide {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
}
  
.slide li {
    margin-top: 2vw;
    padding : 1vw;
}
  
#touch {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}    
  
#touch:checked + .slide {
    height: auto;
}

#main__intro {
    text-align: center;
    width: 100%;
    background-color: #372865;
    padding: 3vw;
    color: #CCC1E6;
    font-size: 4.5vw;
    line-height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18vw;
    border-radius: 9vw;
}

#main__intro a {
    font-weight: 600;
    text-decoration: underline;
}

#main__headline {
    font-size: 9.5vw;
    text-align: center;
    padding: 6vw 0;
    line-height: 12vw;
    font-weight: 600;
}

#main__join p {
    color: #545454;
    text-align: center;
    line-height: 7vw;
    font-size: 4.1vw;
}

#main__join input {
    height: 15vw;
    width: 100%;
    padding: 5vw;
    margin: 5vw 0 3vw 0;
}

#main__join input::placeholder {
    color: #C4C4C4;
    font-size: 4.5vw;
}

#main__join button {
    height: 15vw;
    width: 100%;
    background-color: #372865;
    color: white;
    font-weight: 600;
    font-size: 4.5vw;
    border-radius: 1.8vw;
}

footer {
    margin-top: 10vw;
}
footer p {
    font-weight: 600;
    font-size: 4vw;
    margin-bottom: 3.5vw;
}

#footer__companies-logos img {
    height: 11vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}

