@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600&display=swap');

html {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    background-color: white;
    box-sizing: border-box;
}

body {
    width: 90vw;
    margin: 5vw auto;
    padding: 5vw;
    background-color: #F6F9FE;
    border-radius: 3vw;
}

header {
    padding: 8vw 0 10vw 0;
    width: 100%;
    margin-bottom: 10vw;
}

header>img {
    height: 10vw;
    position: absolute;
    top: 17vw;
    left: 10vw;
    z-index: 1;
}

label {
    height: 6vw;
    position: absolute;
    top: 19vw;
    right: 10vw;
}

label>img {
    height: 100%;
}

.slide li a {
    text-decoration: none;
}

#nav__mobile {
    width : 100%;
    color: #545454;
    font-size: 5vw;
    z-index: 2;
}

#nav__desktop {
    display: none;
}

.slide {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
}

.slide li:first-of-type {
    margin-top: 12vw;
}

.slide li {
    margin-top: 0vw;
    padding : 1vw;
}

.slide li:last-of-type {
    margin-bottom: -10vw;
} 

#touch {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}    
  
#touch:checked + .slide {
    height: auto;
    overflow: visible;
}

#main__intro {
    text-align: center;
    width: 100%;
    background-color: #372865;
    padding: 3vw;
    color: #CCC1E6;
    font-size: 4.5vw;
    line-height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18vw;
    border-radius: 9vw;
    margin: auto;
}

#main__intro a {
    font-weight: 600;
    text-decoration: underline;
}

#main__headline {
    font-size: 9.5vw;
    text-align: center;
    padding: 7vw 0 3vw 0;
    line-height: 12vw;
    font-weight: 600;
    color:#372865;
}

#main__join p {
    text-align: center;
    line-height: 7vw;
    font-size: 4.1vw;
    color:#372865;
}

#main__join input {
    height: 15vw;
    width: 100%;
    padding: 5vw;
    margin: 3vw 0 3vw 0;
    border-radius: 1.2vw;
    border: 0.5px solid #CCC1E6;
}

#main__join input::placeholder {
    color: #C4C4C4;
    font-size: 4.5vw;
}

#main__join button {
    height: 15vw;
    width: 100%;
    background-color: #372865;
    color: white;
    font-weight: 600;
    font-size: 4.5vw;
    border-radius: 1.2vw;
    border: none;
}

aside {
    display: none;
}

footer {
    margin-top: 10vw;
}
footer p {
    font-weight: 600;
    font-size: 4vw;
    margin-bottom: 3.5vw;
}

#footer__companies-logos img {
    height: 11vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}

@media (min-width: 600px) {
    body {
        width: 94vw;
        margin: 3vw auto;
        padding: 7vw;
        background-color: #F6F9FE;
        border-radius: 2vw;
    }
    
    header {
        padding-top: 0;
        margin-bottom: 7vw;
        width: 100%;
    }
    
    header>img {
        height: 5vw;
        position: absolute;
        top: 10.5vw;
        left: 10vw;
        z-index: 1;
    }
    
    label {
        height: 3vw;
        position: absolute;
        top: 11vw;
        right: 10vw;
    }
    
    label>img {
        height: 100%;
    }
    
    .slide li a {
        text-decoration: none;
    }
    
    #nav__mobile {
        width : 100%;
        margin-top: 0vw;
        color: #545454;
        font-size: 2.5vw;
        z-index: 2;
    }
    
    .slide {
        clear:both;
        width:100%;
        height:0px;
        overflow: hidden;
        text-align: center;
    }
      
    .slide li {
        margin-top: 0vw;
        padding : 1vw;
    }

    .slide li:first-of-type {
        margin-top: 9vw;
    }  

    #touch {
        position: absolute; 
        opacity: 0; 
        height: 0px;
    }    
      
    #touch:checked + .slide {
        height: auto;
    }
    
    #main__intro {
        text-align: center;
        width: 90%;
        background-color: #372865;
        padding: 3vw;
        color: #CCC1E6;
        font-size: 2.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6vw;
        border-radius: 3vw;
    }
    
    #main__intro a {
        font-weight: 600;
        text-decoration: underline;
    }
    
    #main__headline {
        font-size: 8vw;
        text-align: center;
        padding: 3vw 0 0 0;
        line-height: 10vw;
        font-weight: 600;
    }
    
    #main__join p {
        color: #372865;
        text-align: center;
        line-height: 3.8vw;
        font-size: 2.5vw;
    }
    
    #main__join input {
        display: inline-block;
        height: 8vw;
        width: 50vw;
        padding: 3vw;
        margin: 4vw 1vw 0 4vw;
    }
    
    #main__join input::placeholder {
        color: #C4C4C4;
        font-size: 2.5vw;
    }
    
    #main__join button {
        height: 8vw;
        width: 20vw;
        background-color: #372865;
        color: white;
        font-weight: 600;
        font-size: 2.5vw;
        border-radius: 1vw;
        margin-right: 4vw;
    }
    
    footer {
        margin-top: 10vw;
        margin-bottom: 8vw;
    }
    footer p {
        font-weight: 600;
        font-size: 2.5vw;
        margin-bottom: 3.5vw;
    }
    
    #footer__companies-logos img {
        height: 6.5vw;
        margin-right: 1.5vw;
        margin-bottom: 1.5vw;;
    }
}

@media (min-width: 1000px) {
    body {
        width: 96vw;
        min-height: 96vh;
        margin: 2vh auto;
        padding: 3vw 10vw;
        background-color: #F6F9FE;
        border-radius: 1vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    
    header {
        padding: 0;
        margin: 0 0 7vh 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header>img {
        height: 2.5vw;
        position: static;
    }
    
    #nav__mobile {
        display: none;
    }

    #nav__desktop {
        display: flex;
        align-items: center;
        color: #545454;
        font-size: 1.2vw;
    }

    #nav__desktop ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #nav__desktop ul li{
        margin-right: 2vw;
    }

    #nav__desktop button {
        height: 4vw;
        width: 9vw;
        background-color: #372865;
        color: white;
        font-weight: 600;
        border-radius: 0.3vw;
        font-size: 1vw;
        padding: 0 1.5vw;
        border: none;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 65%;
        padding-bottom: 3.5vh;
    }

    #main__intro {
        background-color: #372865;
        width: 35vw;
        padding: 1.5vw;
        color: #CCC1E6;
        font-size: 1.2vw;
        display: flex;
        align-items: left;
        justify-content: center;
        height: 3vw;
        border-radius: 1.5vw;
        margin: 0;
    }
    
    #main__intro a {
        font-weight: 600;
        text-decoration: underline;
    }
    
    #main__headline {
        font-size: 3.5vw;
        text-align: left;
        padding: 3vh 0 1vh 0;
        line-height: 4vw;
        font-weight: 600;
    }
    
    #main__join p {
        text-align: left;
        line-height: 1.8vw;
        font-size: 1.2vw;
        margin-bottom: 1.2vw;
    }
    
    #main__join input {
        display: inline-block;
        height: 3.5vw;
        width: 25vw;
        padding: 1vw;
        margin: 0;
        border-radius: 0.2vw;
        font-size: 1.2vw;
    }
    
    #main__join input::placeholder {
        color: #C4C4C4;
        font-size: 1.2vw;
    }
    
    #main__join button {
        height: 4vw;
        width: 9vw;
        background-color: #372865;
        color: white;
        font-weight: 600;
        font-size: 1vw;
        border-radius: 0.3vw;
        padding: 0 1.5vw;
        border: none;
    }

    aside {
        display: block;
        width: 30%;
        background-image: url("../assets/Illustration.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: right;
    }
    
    footer {
        margin: 0;
        width: 100%;
    }
    footer p {
        font-weight: 600;
        font-size: 1.2vw;
        margin-bottom: 1.5vw;
    }
    
    #footer__companies-logos img {
        height: 3vw;
        margin-right: 0.5vw;
        margin-bottom: 0.5vw;
    }
}